@import "mixins";

.main_header {
  @include font-header(3.5rem);
}

h1, .h1 {
  @include font-header(3rem)
}

h2, .h2 {
  @include font-header(2.5rem)
}

h3, .h3 {
  @include font-header(2rem)
}

h4, .h4 {
  @include font-header(1.5rem)
}

h5, .h5 {
  @include font-header(1.25rem)
}

h6, .h6 {
  @include font-header(1.125rem)
}
